@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body{
    background-image: url('../images/bgg.png');
    background-repeat: no-repeat;
    background-size: cover;
} 

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F8E66;
}

nav h1{
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
    cursor: pointer;
}

nav h1 span {
    font-weight: normal;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

nav ul li{
    list-style: none;
    padding-left: 2rem;
    transition: 0.3s;
}

nav ul li:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.3s; 
}  

.parent-login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
    border-radius: 0.5rem;
}

.parent-login-container div{
    background-color: #1F8E66;
    width:26%;
    height:50%;
    border-radius: 1rem;
}


.parent-login-container input{
    margin-top: 0.8rem;
    margin-left: 3.3rem;
    border-radius: 0.5rem;
    border-width: 0;
    height:1.5rem;
    background-color: transparent;
    width:70%;
}

.parent-login-container input::placeholder{
    color:white;
    font-size: medium;
    text-align: center;
}

.parent-login-container button{
    margin-top: 0.001%;
    margin-left: 38%;
    margin-bottom: 1rem;
}

.parent-login-container hr{
    margin-top: 0.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}


.button-submit-login{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #27956d;
    margin-left: 40%;
    margin-top: 0.1rem;
    font-size: large;
    border: 0.099rem solid white;
    color: white;
}

.button-submit-login:hover{
    background-color: #37af83;
    cursor: pointer;
    transition:0.3s;
  }


