@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body{
    background-image: url('../images/bgg.png');
    background-repeat: no-repeat;
    background-size: cover;
} 

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
    cursor: pointer;
}

nav h1 span {
    font-weight: normal;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80%;
    padding-top: 6%; 
}

nav ul li{
    list-style: none;
    padding-left: 2rem;
    transition: 0.3s;
    font-family: poppins;
    color:aliceblue;
}

nav ul li:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.3s;
} 

.orders-delivered{
    width:50%;
}

.orders-requested{
    width:50%;
} 

/* .image-right{
    height:5rem;
    width: 5rem;
} */

.two-options{
    display:flex;
    margin-left:10%;
    margin-top:15%;
}

.two-options img{
    height:50%;
    /* width:50%; */
}

.two-options p{
    font-family: poppins;
    color: white;
}

.button-left{
    border-radius: 3rem;
    background-color:#1F8E66;
    border:none;
}

.button-right{
    border-radius: 3rem;
    background-color: #1F8E66;
    border: none;
}

.button-left:hover{
    transform:scale(1.1);
    cursor:pointer;
    transition: 0.3s;
}

.button-right:hover{
    transform:scale(1.1);
    cursor:pointer;
    transition: 0.3s;
}

.button-right{
    border-radius: 3rem;
}

