@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body{
    background-image: url('../images/bgg.png');
    background-repeat: no-repeat;
    background-size: cover;
} 



.parent-signup-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:9%;
    border-radius: 0.5rem;
}

.parent-signup-container div{
    background-color: #1F8E66;
    width:26%;
    height:50%;
    border-radius: 1rem;
}


.parent-signup-container input{
    margin-top: 0.8rem;
    margin-left: 3.3rem;
    border-radius: 0.5rem;
    border-width: 0;
    height:1.5rem;
    background-color: transparent;
    width:70%;
}

.parent-signup-container input::placeholder{
    color:white;
    font-size: medium;
    text-align: center;
}

.parent-signup-container button{
    margin-top: 0.001%;
    margin-left: 38%;
    margin-bottom: 1rem;
}

.parent-signup-container hr{
    margin-top: 0.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}


.button-submit-signup{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #27956d;
    margin-left: 40%;
    margin-top: 0.1rem;
    font-size: large;
    border: 0.099rem solid white;
    color: white;
}

.button-submit-signup:hover{
    background-color: #37af83;
    cursor: pointer;
    transition:0.3s;
  }
