@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body{
    background-image: url('./images/introimg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.react-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introinfo-left {
    width: 50%;
}

.introinfo-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left-child {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    color:#fff;
    font-family:poppins;
}

.right-child{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(0, -50%);
    padding: 10px;
    color:#fff;
    font-family:poppins;
}



.introinfo-left>h3{
    text-align:left;
}

.introinfo-right>h4{
    text-align:right;
    color:#fff;
    font-family:arial;
}